.sick-leave-column {
    border-bottom: 1px solid black;
    font-size: 0.9rem;
}

.sick-leave-column-rejected {
    color: rgb(169, 10, 10);
}

.sick-leave-column-approved {
    color: rgb(107, 252, 155);
}