.sick-leave-column {
    border-bottom: 1px solid black;
    font-size: 0.8rem;
}

.sick-leave-column-rejected {
    color: rgb(244, 132, 132);
}

.sick-leave-column-approved {
    color: rgb(62, 195, 106);
}